@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-gaegu: Gaegu, sans-serif;
  --font-solway: Solway, "Apple SD Gothic Neo", Arial, sans-serif;
  --header-height: 60px;
  --color-blue: #4493f8;
  --color-divider-light: #d0d9e0;
  --color-divider-dark: #3d444d;
  --color-header-dark: #02040a;
  --color-header-light: #f6f8fa;
  --color-content-dark: #151b23;
  --color-content-light: #f6f8fa;
  --color-button-dark: #202830;
  --color-button-light: #f6f8fa;
  --color-subtitle-dark: #757575;
  --color-subtitle-light: #888888;
}

@layer components {
  .section-title {
    @apply text-2xl font-bold mb-4;
  }

  .border-rounded {
    @apply rounded-md border px-3 py-1;
  }

  .divider-theme {
    @apply border-divider-light dark:border-divider-dark;
  }

  .button-hover {
    @apply transition-all duration-300 origin-bottom-left
    hover:-skew-y-3 cursor-pointer hover:-translate-x-[0.1] hover:-translate-y-[0.1]
    hover:shadow-lg hover:shadow-divider-light dark:hover:shadow-divider-dark;
  }

  .icon-responsive {
    @apply text-2xl sm:text-3xl;
  }
}

/* 
post content
 */

.post-content h2 {
  @apply w-fit font-bold px-1 text-base;
  font-size: 1.2rem;
}
.post-content h3 {
  @apply w-fit font-bold;
  font-size: 1.1rem;
}
.post-content h4 {
  @apply font-bold underline underline-offset-2;
  font-size: 1rem;
}
.post-content img {
  @apply rounded-md mx-auto my-12;
}
.post-content hr {
  @apply my-16;
}

.prose pre {
  @apply bg-gray-500 rounded-md p-4 overflow-x-auto w-full;
}

.prose pre code {
  @apply font-mono text-sm;
}

.prose blockquote {
  border-left: 4px solid #d1d5db;
  padding-left: 1em;
  color: #6b7280;
  font-style: italic;
  background: #f9fafb;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
